/* button colors */
:root{
    --nohover: rgb(17, 101, 161);
    --hover: rgb(120, 180, 223);
}

.score-timer-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 4vh 4vw 1vh 3vw;
}

.high-scores-btn{
    background: white;
    color: var(--nohover);
    margin: 0;
    width: 16vw;
}

.high-scores-btn:hover{
    color: var(--hover);
    background: white;
}

.clear-scores, .try-again{
    width: 15rem;
}

#start-quiz-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 11vh 12vw;
}

h1, h2, h3{
    font-size: 2.5rem;
}

h3{
    margin-bottom: 3rem;
}

p, label{
    font-size: 1.5rem;
}

input{
    padding: 8px;
    width: 23.5rem;
}

#score-initial, #high-scores{
    margin: 3vh 26vw;
    display: none;
}

.start-quiz-p{
    font-size: 1.5rem;
    padding: 4vh 12vw;
    line-height: 32px;
}


/* Start Quiz Button and Answers */
button, 
li{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 11vw;
    padding: 1vh 0;
    margin: auto;
    color: white;
    background: var(--nohover);
}

button:hover,
li:hover{
    background: var(--hover); 
}

.bottom-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}


.logged-score{
    background: var(--hover);
    margin-bottom: 10px;
    padding: 8px;
}

#question-container{
    flex-direction: column;
    margin: 11vh 12vh;
}

#question-container h2{
    margin: 0 0 20px 250px;
}

li{
    margin: 13px 0 0 250px;
    text-align: left;
    width: 20vw;
    padding-left: 1vw;   
}

.feedback{
    margin: 33px 0 0 250px;
    text-align: left;
    width: 18vw;
    padding-left: 1vw;
    padding-top: 25px;
    font-size: 1.5rem;
    border-top: 2px solid black;
}