/* button colors */
:root{
    --nohover: rgb(17, 101, 161);
    --hover: rgb(120, 180, 223);
}

.score-timer-container{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 4vh 4vw 1vh 3vw;
}

.high-scores{
    background: white;
    color: var(--nohover);
    margin: 0;
    width: 16vw;
}

.high-scores:hover{
    color: var(--hover);
    background: white;
}

#start-quiz-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 11vh 12vw;
}

h1, h2{
    font-size: 2.5rem;
}

.start-quiz-p{
    font-size: 1.5rem;
    padding: 4vh 12vw;
    line-height: 32px;
}


/* Buttons */
button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 11vw;
    padding: 1vh 0;
    margin: auto;
    color: white;
    background: var(--nohover);
}

button:hover{
    background: var(--hover); 
}

#question-container{
    flex-direction: column;
    margin: 11vh 12vh;
}

#question-container h2{
    margin: 0 0 20px 250px;
}

.answer{
    margin: 13px 0 0 250px;
    text-align: left;
    width: 18vw;
    padding-left: 1vw;   
}